<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>File Vault</span>
    <span><md-button class="md-raised md-warn ">upload</md-button></span>
  </div>
</md-toolbar>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Uploaded Files">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>
          <md-table-container>
            <table md-table md-row-select md-table md-row-select multiple ng-model="selected" md-progress="promise" >
              <thead md-head>
                <tr md-row>
                  <th md-column >Filename</th>
                  <th md-column >Date</th>
                  <th md-column >Last modified</th>
                  <th md-column >Action</th>
                  <!-- <th md-column >Date</th>
                  <th md-column >Amount</th>
                  <th md-column >Status</th>
                  <th md-column >Actions</th> -->
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-auto-select ng-repeat="x in files" style="text-transform: capitalize;">

          				<td md-cell>{{x.filename}}</td>
          				<td md-cell>{{x.date}}</td>
          				<td md-cell>{{x.lastModified}}</td>
          				<td md-cell><md-button class="md-raised md-primary">Download</md-button></td>
          				<!-- <td md-cell>{{x.date}}</td>
          				<td md-cell> ₹{{x.amount}}</td>
          				<td md-cell>{{x.status}}</td> -->
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-content>
      </md-tab>
      <md-tab label="Print Files">
        <md-content class="md-padding">
          <h1 class="md-display-2"> </h1>
          <md-table-container>
            <table md-table md-row-select md-table md-row-select multiple ng-model="selected" md-progress="promise" >
              <thead md-head>
                <tr md-row>
                  <th md-column >Filename</th>
                  <th md-column >Date</th>
                  <th md-column >Last modified</th>
                  <th md-column >Action</th>
                  <!-- <th md-column >Date</th>
                  <th md-column >Amount</th>
                  <th md-column >Status</th>
                  <th md-column >Actions</th> -->
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-auto-select ng-repeat="x in files" style="text-transform: capitalize;">

          				<td md-cell>{{x.filename}}</td>
          				<td md-cell>{{x.date}}</td>
          				<td md-cell>{{x.lastModified}}</td>
          				<td md-cell><md-button class="md-raised md-primary">Download</md-button></td>
          				<!-- <td md-cell>{{x.date}}</td>
          				<td md-cell> ₹{{x.amount}}</td>
          				<td md-cell>{{x.status}}</td> -->
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
