<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Back</a>
	<h2>Summerize <small> your order </small></h2>
	<span class="glyphicon glyphicon-repeat bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
							  <div class="panel-heading md-whiteframe-2dp">
									<p>Order Title: {{orderDetails.orderType}}</p>
									<p>Product Type: {{orderDetails.productType}}</p>
									<p>Product Title: {{orderDetails.productTitle}}</p>
									<p>Product Name: {{orderDetails.productName}}</p>
									<p>Paper Type: {{orderDetails.paperType}}</p>
									<p>Quantity: {{orderDetails.quantity}}</p>
									<p>Dimension: {{orderDetails.dimensions}}</p>
									<p>Height: {{orderDetails.heightdim}}</p>
									<p>Width: {{orderDetails.widthdim}}</p>
									<p>Finish: {{orderDetails.finish}}</p>
									<p>Cutting: {{orderDetails.cutting}}</p>
									<p>Comment: {{orderDetails.comment}}</p>
							  </div>
							</div>
				</div>

				<div class="col-md-6">



				 <iframe width="100%" height="565px" ng-src="{{trustSrcurl(imagePath)}}" ></iframe>


				</div>
			</div>
     <center><a href="#/dashboard/shipping" class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a> </center>
		</div>
	</div>
</div>
