<div>
	<!-- <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Back</a> -->
	<h2>Order Confirmation <small>  </small></h2>
	<span class="glyphicon glyphicon-repeat bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!-- <div class="panel panel-default"> -->
							  <!-- <div class="panel-heading md-whiteframe-2dp"> -->
									<table md-table  class="table table-bordered table-responsive  table-condensed paymentTable">
										<thead md-head>

										<tr>
											<th md-column><h4>Product Type:</h4></th>
											<td><h4>{{orderDetails.productType}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Product Title</h4></th>
											<td ><h4>{{orderDetails.productTitle}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Product Name:</h4></th>
											<td ><h4>{{orderDetails.productName}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Paper Type:</h4></th>
											<td ><h4>{{orderDetails.paperType}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Quantity </h4></th>
											<td ><h4>{{orderDetails.quantity}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Dimension </h4></th>
											<td ><h4>{{orderDetails.dimensions}} {{orderDetails.heightdim}}X{{orderDetails.widthdim}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Finish</h4> </th>
											<td ><h4>{{orderDetails.finish}}</h4></td>
										</tr></h4>
										<tr>
											<th md-column><h4>Cutting</h4></th>
											<td ><h4>{{orderDetails.cutting}}</h4></td>
										</tr>
										<tr>
											<th md-column><h4>Special Instruction </h4></th>
											<td ><h4>{{orderDetails.comment}}</h4></td>
										</tr>
										<tr>
											<th md-column><h3><b>Price per piece: </b></h3></th>
											<td ><h3><b>Rs.450</b></h3></td>
										</tr>
										<tr>
											<th md-column><h3>Total amount</h3> </th>
											<td ><h3>Rs.4500</h3></td>
										</tr>
										</thead>
									</table>

				</div>

				<div class="col-md-6 wrapper">



				 <iframe width="100%" height="565px" ng-src="{{trustSrcurl(imagePath)}}" ></iframe>


				</div>
			</div>
     <center>
			 <a  ui-sref="reports" class="btn btn-primary btn-lg btn-outline btn-rounded">Back</a>

			 <a  ui-sref="shipping" class="btn btn-primary btn-lg btn-outline btn-rounded">Next</a>
		  </center>
		</div>
	</div>
</div>
