<md-toolbar class="md-table-toolbar md-default ">
  <div class="md-toolbar-tools md-title">
    <span>Review Your Orders Here</span>
  </div>
</md-toolbar>

<md-card style="margin:0px">
            <md-subheader>Filter by search</md-subheader>

            <md-input-container style="margin:15px;">
                <label>Search</label>
                <input type="text" ng-model="filterName">
            </md-input-container>

            <div ng-hide="true">
                {{(filteredItems = (details | filter: filterName))}}
            </div>
        </md-card>
  <mdt-table sortable-columns="true" animate-sort-icon="true" mdt-row="{'data': filteredItems,
                      'table-row-id-key': 'orderId',
                      'column-keys': ['orderId', 'productTitle', 'paymentType', 'city', 'date', 'amount', 'status','role']}">

<!-- exact table from live demo -->
    <mdt-header-row>
        <mdt-column >Order ID</mdt-column>
        <mdt-column >Product </mdt-column>
        <mdt-column >Payment </mdt-column>
        <mdt-column >Shipping</mdt-column>
        <mdt-column >Date    </mdt-column>
        <mdt-column >Amount  </mdt-column>
        <mdt-column >Status  </mdt-column>
        <mdt-column style="text-align:center" >Actions</th>
      </mdt-column>
    </mdt-header-row>


    <mdt-custom-cell html-content="true" column-key="role">
            <!-- <span ng-class="{'red': value > 5, 'green': value <= 5}">{{value}}</span> -->
            <section layout="row">
             <button  class=" btn btn-success">Invoive </button>
             <button  class="btn btn-primary" >Download</button>
             <button  class="btn btn-warning" >Print</button>
            </section>
        </mdt-custom-cell>
    <!-- <mdt-row ng-repeat="x in details">

				<mdt-cell>{{x.orderId}}     </mdt-cell>
				<mdt-cell>{{x.productTitle}}</mdt-cell>
				<mdt-cell>{{x.paymentType}} </mdt-cell>
				<mdt-cell>{{x.city}},{{x.state}},<br>{{x.landmark}},<br>{{x.zipcode}}</mdt-cell>
				<mdt-cell>{{x.date}}        </mdt-cell>
				<mdt-cell> ₹{{x.amount}} </mdt-cell>
				<mdt-cell>{{x.status}}      </mdt-cell>
        <mdt-cell html-content="true">
          <section layout="row">
           <md-button ng-click="save('0')" class="md-raised md-primary">Invoive </md-button>
           <md-button ng-click="save('1')" class="md-raised md-primary">Download</md-button>
           <md-button ng-click="save('2')" class="md-raised md-primary">Print</md-button>
          </section>

        </mdt-cell>
    </mdt-row> -->
  </mdt-table>
