<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>PrintChowk <small>Why are we so awesome?</small></h2>

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-4 overview-tab" style="background-color:#089de3">
					<a href=""><h1>{{order_processing}}</h1>
          <h3>ORDERS PROCESSING</h3></a>
				</div>
				<div class="col-md-4 overview-tab" style="background-color: #FFFF81">
					<a href=""><h1>{{order_pending}}</h1>
					<h3>ORDERS PENDING</h3></a>
				</div>
				<div class="col-md-4 overview-tab" style="background-color:#F4D6BC">
					<a href=""><h1>{{order_shipped}}</h1>
					<h3>ORDERS SHIPPED </h3></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3 overview-menu">
				<center><a href=""><span class="glyphicon glyphicon-send bg-fade-overview"></span><br><h3>Order now</h3></a></center>
			</div>
			<div class="col-md-3 col-md-offset-1  overview-menu">
				<center><a href=""> <span class="glyphicon glyphicon-tasks bg-fade-overview"></span><br><h3>Price List</h3></a></center>
			</div>
			<div class="col-md-3 col-md-offset-1  overview-menu">
				<center><a href=""><span class="glyphicon glyphicon-open-file bg-fade-overview"></span><br><h3>File vault</h3></a></center>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3 overview-menu">
				<center><a href=""><span class="glyphicon glyphicon-list-alt bg-fade-overview"></span><br><h3>Request A Qoute</h3></a></center>
			</div>
			<div class="col-md-3 col-md-offset-1  overview-menu">
				<center><a href=""> <span class="glyphicon glyphicon-cog bg-fade-overview"></span><br><h3>Account Settings</h3></a></center>
			</div>
			<div class="col-md-3 col-md-offset-1  overview-menu">
				<center><a href=""><span class="glyphicon glyphicon-stats bg-fade-overview"></span><br><h3>Account Details</h3></a></center>
			</div>
		</div>
	</div>
	</div>


</div>
