<md-toolbar class=" md-default">
<div class="md-toolbar-tools md-title" style="background:#ecf0f1"layout="row" layout-padding>
	<span flex style="font-size:25px; background:#336688;"><md-button class="md-fab md-mini md-warn" aria-label="Use Android">
	          <md-icon class="material-icons" style="color: greenyellow;">filter_1</md-icon>

	        </md-button>New Order</span>
	<span flex style="font-size:25px; background:#336688;"><md-button class="md-fab md-mini md-warn" aria-label="Use Android">
					          <md-icon class="material-icons" style="color: greenyellow;">filter_2</md-icon>
					        </md-button>Confirm Order</span>

 <span flex style="font-size:25px; background:#336688; "><md-button class="md-fab md-mini md-warn" aria-label="Use Android">
									          <md-icon class="material-icons" style="color: greenyellow;">filter_3</md-icon>
									        </md-button>Shipping</span>
<span flex style="font-size:25px; background:#336688;"><md-button class="md-fab md-mini md-warn" aria-label="Use Android">
												 									          <md-icon class="material-icons" style="color: greenyellow;">filter_4</md-icon>
												 									        </md-button>Payment</span>

<!-- <span><i class="material-icons">add_shopping_cart</i> New Order</span> -->
<!-- <span flex><span class="glyphicon glyphicon-th"></span> &nbsp New Order</span>
<span flex><span class="glyphicon glyphicon-th"></span> &nbsp New Order</span>
<span flex><span class="glyphicon glyphicon-th"></span> &nbsp New Order</span> -->

</div>
</md-toolbar>
<!-- <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
<h2 style="text-transform: capitalize"> Payment <small></small></h2> -->
<!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
<br>

<div class="" layout="row" layout-xs="column">

	<div class="md-whiteframe-1dp " flex flex-gt-sm="60" style="margin-right:4px;background-color:white;">

    <div class="" layout="row">


		<md-toolbar class="md-table-toolbar md-whiteframe-1dp md-hue-1 ">
			<div class="md-toolbar-tools">
				<span><span class="glyphicon glyphicon-shopping-cart"></span> Order Details</span>
			 </div>
			 </md-toolbar>

		</div>
		<div class="" layout="row" layout-padding layout-xs="column">
			<div class="" flex >
				<!-- <img src="images/product.png" alt="" class="img-responsive"/> -->
				<iframe width="100%" height="400px" ng-src="{{trustSrcurl(imagePath)}}" ></iframe>

			</div>
			<div class="" flex style="margin-left:5px; margin-top:10px;">
        <ul class="list-unstyled">
        	<li><h4>Product: {{orderDetails.productTitle}}</h4></li>
					<li><h4>Quantity: {{orderDetails.quantity}}</h4></li>
					<li><h4>Dimension: {{orderDetails.heightdim}}X{{orderDetails.widthdim}} {{dimensions}}</h4></li>
					<li><h4>Finish: {{orderDetails.finish}}</h4></li>
					<li><h4>Cutting: {{orderDetails.cutting}}</h4></li>
					<md-divider></md-divider>
					<li><h3><b>Total Amount: ₹36000</b></h3></li>
        </ul>


        </md-list>

			<!-- <table md-table  class="table table-bordered paymentTable">
					<thead md-head>
					<tr>
						<th md-column>Product</th>
						<td>{{orderDetails.productTitle}}</td>
					</tr>
					<tr>
						<th md-column>Quantity</th>
						<td>{{orderDetails.quantity}}</td>
					</tr>
					<tr>
						<th md-column>Dimension</th>
						<td >{{orderDetails.heightdim}}X{{orderDetails.widthdim}} {{dimensions}}</td>
					</tr>
					<tr>
						<th md-column>Finish</th>
						<td>{{orderDetails.finish}}</td>
					</tr>
					<tr>
						<th md-column>Cutting</th>
						<td >{{orderDetails.cutting}}</td>
					</tr>
					<tr>
						<th md-column><h3>Total Amount:</h3> </th>
						<td ><h3><b>₹36000</b></h3></td>
					</tr>
					</thead>
			</table> -->



			</div>

		</div>

	</div>



  <div class="" flex flex-gt-sm="40">
		<div class="md-whiteframe-1dp" layout="column"  style="background-color:white;">
 		 <md-toolbar class="md-table-toolbar md-whiteframe-1dp md-hue-1 ">
  			<div class="md-toolbar-tools">
  				<span class="glyphicon glyphicon-map-marker"></span><span>&nbspDelivery Information</span>
  			 </div>
  			 </md-toolbar>

 		<div class="" flex layout-padding layout="row">
			<div class="" flex>
			<h3>Shipping</h3>
			<br>Street no.25,House no. D-15,<br>
			New Delhi-110044,<br>
			India
		 </div>
		 <div class="" flex>
		 <h3>Billing</h3>
		 <br>Street no.25,House no. D-15,<br>
		 New Delhi-110044,<br>
		 India
		</div>




     </div>
  		</div>
			<!-- toolbar for payment -->
   <div class="md-whiteframe-1dp" layout="column"  style="background-color:white;">
		 <md-toolbar class="md-table-toolbar md-whiteframe-1dp md-hue-1 ">
 			<div class="md-toolbar-tools">
 				<span class="glyphicon glyphicon-credit-card"></span> <span>&nbspPayment </span>
 			 </div>
 			 </md-toolbar>

		<div class="" flex layout-padding layout="column">
			<label for=""><h3>Select Payment type</h3></label>
			<md-radio-group ng-model="orderDetails.paymentType" class="md-primary">
				<div layout="row">
				<md-radio-button  value="Pay on Account" class="md-primary">Pay on Account</md-radio-button>
				<p style="color:red;right:0;">
					&nbsp&nbspCredit:{{}}
				</p>
				</div>

	      <md-radio-button value="Razor Pay"class="md-primary">Razor Pay</md-radio-button>
    </md-radio-group>
		<md-divider></md-divider>
		<div class="" layout="row" layout-align="end center" >
			<md-button ng-click="$state.go('shipping')" class="md-raised md-primary">Back</md-button>
  		<md-button ng-click="paymentSelect()" class="md-raised md-primary">Pay Now</md-button>
		</div>

    </div>
 		</div>
   </div>
  </div>



</div>
















<!-- <div class="md-whiteframe-1dp" layout="column">
	<div class="" flex="70">


	<md-toolbar class="md-table-toolbar md-whiteframe-1dp md-hue-3 ">
	  <div class="md-toolbar-tools">
	    <span>Order Details</span>
	   </div>
		 </md-toolbar>


		    <div class="row">

		<div class="col-md-3" style="margin-top:10px;margin-bottom:10px;margin-left:10px;">

			<img src="images/product.png" alt="" class="img-responsive"/>
			<br>

		</div>

		<div class="col-md-4">

				<table md-table >
					<thead md-head>
						<tr md-row>
							<th md-column >Order ID</th>
							<th md-column >Product</th>
							<th md-column >Quantity</th>
							<th md-column >Dimensions</th>
							<th md-column >Dimensions</th>



						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select  style="text-transform: capitalize;">

							<td md-cell><h5>1212</h5></td>
							<td md-cell>Banner</td>
							<td md-cell>40</td>
							<td md-cell>128X124 mm</td>
							<td md-cell>{{x.status}}</td>


						</tr>
					</tbody>
				</table>

<br>
				<md-divider></md-divider>

					<h3 class="col-md-offset-3">Total Amount: ₹<b>23000</b></h3>

         <md-divider></md-divider>
					<br>
				 <div class="">
        <p>


					<h3>Shipping</h3>

					<p class="pull-right">

						Street no.25,House no. D-15,<br>
						New Delhi-110044,<br>
						India
					</p>
					</p>
				 </div>
		</div>
	 	</div>
</div>
</div>
<div class="" layout="row">

<md-toolbar class="md-table-toolbar  md-hue-3 ">
	<div class="md-toolbar-tools">
		<span>Payment Information</span>

	 </div>
	 </md-toolbar>

 </div>

<br> -->











<!-- <div layout="column">

<div layout="row" >
<div  class="" flex >
	<md-toolbar class="md-table-toolbar  md-hue-3 ">
	  <div class="md-toolbar-tools">
	    <span>Review Your Orders Here</span>
	   </div>
		</md-toolbar>
		<div class="">
  <md-list flex>
		<md-list-item>
	<p>Product: {{orderDetails.productName}}</p>
	</md-list-item>
<md-divider></md-divider>
	<md-list-item>
	<p>Paper Type: {{orderDetails.paperType}}</p>
  </md-list-item>
	<md-divider></md-divider>

	<md-list-item>
	<p>Quantity: {{orderDetails.quantity}}</p>
	</md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<p>Dimension: {{orderDetails.dimensions}}</p>
	</md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<p>Height: {{orderDetails.heightdim}}</p>
	</md-list-item>
	<md-divider></md-divider>
	<md-list-item>
	<p>Width: {{orderDetails.widthdim}}</p>
   </md-list-item>
	 <md-divider></md-divider>
	 <md-list-item>
	<p>Finish: {{orderDetails.finish}}</p>
</md-list-item>
<md-divider></md-divider>
<md-list-item>
	<p>Cutting: {{orderDetails.cutting}}</p>
</md-list-item>
<md-divider></md-divider>
<md-list-item>
	<p>Comment: {{orderDetails.comment}}</p>
</md-list-item>
	</md-list>
</div>

</div>
<div  flex>
	<div layout="column">
     <div class="" flex>
			 <iframe width="100%" height="565px" ng-src="{{trustSrcurl(imagePath)}}" ></iframe>
     </div>
		 <div class="">
		 	<md-button class="md-primary"></md-button>
		 </div>
	</div>
</div>
</div>
</div> -->
