<div class="row">
<div class="col-md-6">
	<img class="img-responsive" src="/images/blog2.jpg" alt="" />
	<h2>Best Prints:<small> Tips to get your best prints</small></h2>
	<hr style="color:#FF0066;" size:30>
	<p>
		A word on printers. For a start, it helps to know what you can expect from your printer, which will also be worth thinking about before you buy your next printer. The most important issue is the printer's technology. There are only two printing technologies today that can print at true photo quality: inkjet and thermal dye (aka dye sublimation, although that's a misnomer).
	</p>
</div>
<div class="col-md-6">
	<h2>PrintChowk: <small>We are more than just printing</small></h2>
	<hr style="color:#FF0066;" size:30>
	<p>
		a Cimpress company, empowers millions of business owners worldwide to market themselves professionally. Our wide range of quality products at affordable prices, along with design tools suited to every skill level and need, mean everyone can create the customised materials they need to get their message across.We offer customised marketing materials and printed products for business or personal use to fit any budget, style and occasion.
	</p>
<br><br><br><br><br><br><br>
	<img class="img-responsive" src="/images/blog1.jpg" alt="" />
</div>


</div>
