<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2 style="text-transform: capitalize"> New Order <small>Get Set Print</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron md-whiteframe-1dp">
		<div class="container">
			<form  name="orderform" method="POST" enctype="multipart/form-data" role="form" novalidate>


				<md-radio-group ng-model="orderDetails.orderType" layout="row">

					<md-radio-button value="existing" class="md-primary"><h4>Existing</h4></md-radio-button>
					<md-radio-button value="custom" > <h4>Custom Order</h4> </md-radio-button>


				</md-radio-group>


				<div><br>


						<!-- select product -->
						<div layout="row" layout-align="start" flex>

							<md-input-container flex>
								<label>Select Product</label>
								<md-select  name="selectProduct" ng-model="orderDetails.productName" ng-disabled="orderDetails.orderType === 'custom'"  	ng-required="orderDetails.orderType === 'existing'">
									<md-option value="{{s}}"  ng-repeat=" s in productNames" >{{s}}</md-option>
								</md-select>
								<div class="errors" ng-messages="myForm.favoriteColor.$error">
									<div ng-message="required">Required</div>
								</div>
							</md-input-container>
						</div>


						<md-radio-group ng-model="orderDetails.productType" layout="row">
							<md-radio-button value="paper" class="md-primary"><h4>Paper</h4></md-radio-button>
							<md-radio-button value="nonPaper"><h4>nonPaper</h4></md-radio-button>
						</md-radio-group>

						<!-- nonPaper Type -->
						<md-input-container class="md-block"  >
					    <label>Non-Paper Type</label>
					    <input  type="text" name="nonPaperType" ng-disabled="orderDetails.productType ==='paper'" ng-required="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.nonPaperType"/>
					  </md-input-container>
						<!-- <md-input-container class="md-block" ng-show="orderDetails.productType === 'nonPaper'" >
								 <label>Non-Paper Type</label>
								 <input  type="text" name="nonPaperType"  ng-required="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.nonPaperType"/>
						</md-input-container> -->

						<!-- product Title  -->
						<md-input-container class="md-block">
								 <label>Product Title</label>
								 <input required type="text" name="productTitle" ng-model="orderDetails.productTitle"/>
						</md-input-container>

						<!-- quantity -->
						<md-input-container class="md-block">
								 <label>Quantity</label>
								 <input required type="number" name="Quantity"  ng-model="orderDetails.quantity"/>
						</md-input-container>

			    <!-- paper type -->
					<div layout="row" layout-align="start" flex>
							<md-input-container flex>
								<label>Select Paper type</label>
								<md-select  name="paperType" ng-model="orderDetails.paperType" ng-disabled="orderDetails.orderType === 'nonPaper'"  required>
									<md-option value="{{s}}"  ng-repeat="s in paper">{{s}}</md-option>
								</md-select>
								<div class="errors" ng-messages="myForm.favoriteColor.$error">
									<div ng-message="required">Required</div>
								</div>
							</md-input-container>

            </div>
					<br>
						<!-- dimensions -->
							<div layout="row" layout-align="start" flex>
								<md-input-container class="md-block">
										 <label>Height</label>
										 <input required type="number" name="Height"  ng-model="orderDetails.heightdim"/>
								</md-input-container>
								<div layout="row" layout-align="start" flex>
									<md-input-container class="md-block">
											 <label>Width</label>
											 <input required type="number" name="Width"  ng-model="orderDetails.widthdim"/>
									</md-input-container>

						<md-input-container flex>
							<label>Dimensions  </label>
							<md-select  name="dimensions" ng-model="orderDetails.dimensions"  required>
								<md-option value="{{s}}"  ng-repeat="s in dimensions">{{s}}</md-option>
							</md-select>
							<div class="errors" ng-messages="myForm.favoriteColor.$error">
								<div ng-message="required">Required</div>
							</div>
						</md-input-container>


							</div>
						</div>


						<br>
						<!-- finish -->
						<div layout="row" layout-align="start" flex>
								<md-input-container flex>
									<label>Select Finish Type</label>
									<md-select  name="paperType" ng-model="orderDetails.finish" ng-disabled="orderDetails.productType ==='nonPaper'"  ng-required="orderDetails.productType === 'paper'">
										<md-option value="{{s}}"  ng-repeat="s in finishArr">{{s}}</md-option>
									</md-select>
									<div class="errors" ng-messages="myForm.favoriteColor.$error">
										<div ng-message="required">Required</div>
									</div>
								</md-input-container>

	            </div>

						<br>
       <!-- cutting -->
			 <div layout="row" layout-align="start" flex>
					 <md-input-container flex>
						 <label>Select Cutting Type</label>
						 <md-select  name="paperType" ng-model="orderDetails.cutting"  ng-disabled="orderDetails.productType ==='nonPaper'" ng-required="orderDetails.productType === 'paper'">
							 <md-option value="{{s}}"  ng-repeat="s in getcutting">{{s}}</md-option>
						 </md-select>
						 <div class="errors" ng-messages="myForm.favoriteColor.$error">
							 <div ng-message="required">Required</div>
						 </div>
					 </md-input-container>

				 </div>
					<br>
					<div layout="row" layout-align="start" flex>
							<md-input-container flex >
								<label>I need this product in</label>
								<md-select  name="deliveryTime" ng-model="orderDetails.deliveryTime"  >
									<md-option>5 Days</md-option>
									<md-option>10 Days</md-option>
									<md-option>Next Month</md-option>

								</md-select>
								<div class="errors" ng-messages="myForm.favoriteColor.$error">
									<div ng-message="required">Required</div>
								</div>
							</md-input-container>

						</div>
					<br>

				 <!-- comments -->
				 <md-input-container class="md-block">
							<label>Comments</label>
							<input  type="text" name="Quantity"  ng-model="orderDetails.comment"/>
				 </md-input-container>




				</div>


				 <br>
				<input type="file" file-model="file"/>
				<button class="btn btn-default" ng-click="uploadFile()">upload me</button> 

				<br>
				<md-button class="md-raised md-primary" ng-show="orderDetails.orderType === 'existing'" ng-click="goToPath()" >Next</md-button>
				<!-- <a type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded" ng-show="orderDetails.orderType === 'existing'" href="#/dashboard/orderSummary">Next</a> -->
       <md-button ng-show="orderDetails.orderType === 'custom'" class="md-raised md-primary">Request A qoute</md-button>
				<!-- <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-show="orderDetails.orderType === 'custom'" href="#/dashboard/requestSummary">Request A qoute</a> -->
				<br>


			</div>
		</form>

	</p>
</div>
</div>
</div>
