<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2 style="text-transform: capitalize"> New Order <small>Get Set Print</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron md-whiteframe-1dp">
		<div class="container">
			<form name="orderForm">

          <div class="row">
           <div class="col-md-3">
         <!-- file upload and file vault selection -->
           <h3>
						 <md-tooltip md-direction="right">
                    <!-- comments here -->
            </md-tooltip>
					Artwork: </h3>
           </div>
						<div class="col-md-4">
							<br>
							<md-radio-group ng-model="upload_file" layout="row" class="">
	 	 					<md-radio-button value="upload" class="md-primary">Upload</md-radio-button>
	 						<span><b>OR</b> &nbsp &nbsp</span>
	 	 					<md-radio-button value="choose" >select from files</md-radio-button>
	 	 				</md-radio-group>
						<div class="col-md-4">
								<br> <br>
								<div ng-hide="upload_file==='choose' " class="">
									<input  type="file" file-model="file" required/>
								 <md-button class="md-raised md-primary" ng-click="uploadFile()">upload me</md-button>
								</div>
								<div ng-hide="upload_file==='upload'" class="">

									<md-input-container flex>

										<label>Select file</label>
										<md-select  name="selectProduct" ng-model="orderDetails.imageUrl" ng-disabled="orderDetails.orderType === 'custom'"  	ng-required="upload_file==='choose'">
											<md-option value="{{s}}"  ng-repeat=" s in productNames" >{{s}}</md-option>
										</md-select>
										<div class="errors" ng-messages="myForm.favoriteColor.$error">
											<div ng-message="required">Required</div>
										</div>
									</md-input-container>
								</div>
						</div>
						</div>
				</div>


	 		 <br>

				<md-radio-group ng-model="orderDetails.orderType" layout="row">

					<md-radio-button value="existing" class="md-primary"><h4>Existing</h4></md-radio-button>
					<md-radio-button value="custom" > <h4>Custom Order</h4> </md-radio-button>


				</md-radio-group>


				<div><br>


						<!-- select product -->
						<div layout="row" layout-align="start" flex>


							<md-input-container flex>
						  	<label>
								 <md-tooltip md-direction="bottom">
									 select the product that have been saved in your price list.
								 </md-tooltip>
								Select Product</label>
								<md-select  name="selectProduct" ng-model="orderDetails.productName" ng-disabled="orderDetails.orderType === 'custom'"  	ng-required="orderDetails.orderType === 'existing'">
									<md-option value="{{s}}"  ng-repeat=" s in productNames" >{{s}}</md-option>
								</md-select>
								<!-- <div class="errors" ng-messages="myForm.favoriteColor.$error">
									<div ng-message="required">Required</div>
								</div> -->
							</md-input-container>
						</div>


						<md-radio-group ng-model="orderDetails.productType" layout="row">
							<md-radio-button value="paper" class="md-primary"><h4>Paper</h4></md-radio-button>
							<md-radio-button value="nonPaper"><h4>nonPaper</h4></md-radio-button>
						</md-radio-group>

						<!-- nonPaper Type -->
						<md-input-container class="md-block"  >
					    <label><md-tooltip ng-hide="orderDetails.productType ==='paper'" md-direction="bottom">
								Enter the non paper type you want your printing on
							</md-tooltip>Non-Paper Type</label>
					    <input  type="text" name="nonPaperType" ng-disabled="orderDetails.productType ==='paper'" ng-required="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.nonPaperType"/>
					  </md-input-container>
						<!-- <md-input-container class="md-block" ng-show="orderDetails.productType === 'nonPaper'" >
								 <label>Non-Paper Type</label>
								 <input  type="text" name="nonPaperType"  ng-required="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.nonPaperType"/>
						</md-input-container> -->

						<!-- product Title  -->
						<md-input-container class="md-block">
								 <label>Product Title</label>
								 <input required type="text" name="productTitle" ng-model="orderDetails.productTitle"/>
						</md-input-container>

						<!-- quantity -->
						<md-input-container class="md-block">
								 <label>Quantity</label>
								 <input required type="number" name="Quantity"  ng-model="orderDetails.quantity"/>
						</md-input-container>

			    <!-- paper type -->

					<div layout="row"  layout-align="start" flex>
							<md-input-container flex>
								<label>Select Paper type</label>
							<md-select name="paperType" ng-model="orderDetails.paperType" ng-disabled="(orderDetails.productType ==='nonPaper')||(check)"  ng-required='orderDetails.productType==="paper"&&!check'>
									<md-option value="{{s}}"  ng-repeat="s in paper">{{s}}</md-option>
									<md-option value="other">Other</md-option>
								</md-select>
								<div class="errors" ng-messages="myForm.favoriteColor.$error">
									<div ng-message="required">Required</div>
								</div>
							</md-input-container>
            </div>

						<md-input-container  ng-show="orderDetails.paperType ==='other'" class="md-block">
								 <label>Enter</label>
								 <input ng-disabled="check"  required type="text" name="Height"  ng-model="orderDetails.paperTypeOther"/><br>
						</md-input-container>
            <md-checkbox ng-model="check" ng-disabled="orderDetails.productType ==='nonPaper'" ng-click="orderDetails.paperType ='need help'" aria-label="Checkbox 1">need help</md-checkbox>

						<!-- add other paperType -->

					<br><br>
						<!-- dimensions -->
							<div layout="row" layout-align="start" flex>
								<md-input-container class="md-block">
										 <label>Height</label>
										 <input required type="number" name="Height"  ng-model="orderDetails.heightdim"/>
								</md-input-container>
								<div layout="row" layout-align="start" flex>
									<md-input-container class="md-block">
											 <label>Width</label>
											 <input required type="number" name="Width"  ng-model="orderDetails.widthdim"/>
									</md-input-container>

						<md-input-container flex>
							<label>Dimensions  </label>
							<md-select  name="dimensions" ng-model="orderDetails.dimensions"  required>
								<md-option value="{{s}}"  ng-repeat="s in dimensions">{{s}}</md-option>
							</md-select>
							<div class="errors" ng-messages="myForm.favoriteColor.$error">
								<div ng-message="required">Required</div>
							</div>
						</md-input-container>


							</div>
						</div>


						<br>
						<!-- finish -->
						<div layout="row" layout-align="start" flex>
								<md-input-container flex>
									<label>Select Finish Type</label>
									<md-select ng-disabled="(orderDetails.productType ==='nonPaper')||(checkFin)" name="paperType" ng-model="orderDetails.finish" ng-disabled="orderDetails.productType ==='nonPaper'"  ng-required="orderDetails.productType === 'paper'&&!checkFin">
										<md-option value="{{s}}"  ng-repeat="s in finishArr">{{s}}</md-option>
									</md-select>
									<div class="errors" ng-messages="myForm.favoriteColor.$error">
										<div ng-message="required">Required</div>
									</div>
								</md-input-container>


	            </div>
							<div layout="row" layout-align="start" flex>
									<md-input-container flex>
										<label>Sides</label>
										<md-select ng-disabled="(orderDetails.productType ==='nonPaper')||(checkFin)" name="paperType" ng-model="orderDetails.finish" ng-disabled="orderDetails.productType ==='nonPaper'"  ng-required="orderDetails.productType === 'paper'&&!checkFin">
											<md-option value="{{s}}"  ng-repeat="s in finishArr">{{s}}</md-option>
										</md-select>
										<div class="errors" ng-messages="myForm.favoriteColor.$error">
										</div>
									</md-input-container>

		            </div>
								<md-checkbox ng-model="checkFin" ng-disabled="orderDetails.productType ==='nonPaper'" ng-click="orderDetails.finish='need help'" aria-label="Checkbox 1">need help</md-checkbox>


							<!-- one side option and need help -->


						<br>
       <!-- cutting -->
			 <div layout="row" layout-align="start" flex>
					 <md-input-container flex>
						 <label>Select Cutting Type</label>
						 <md-select  name="cutting" ng-model="orderDetails.cutting"  ng-disabled="orderDetails.productType ==='nonPaper'" ng-required="orderDetails.productType === 'paper'">
							 <md-option value="{{s}}"  ng-repeat="s in getcutting">{{s}}</md-option>
						 </md-select>
						 <div class="errors" ng-messages="orderForm.cutting.$error">
							 <div ng-message="required">Required</div>
						 </div>
					 </md-input-container>

				 </div>
					<br>
					<div layout="row" layout-align="start" flex>
							<md-input-container flex >
								<label>I need this product in</label>
								<md-select  name="deliveryTime" ng-model="orderDetails.productTime" ng-show="orderDetails.orderType === 'custom'" ng-model="orderDetails.deliveryTime"  >
									<md-option value="5 Days">5 Days</md-option>
									<md-option value="10 Days">10 Days</md-option>
									<md-option value="Next Month">Next Month</md-option>
							</md-input-container>

						</div>
					<br>

				 <!-- comments -->
				 <md-input-container class="md-block">
							<label>Special Instructions</label>
							<input  type="text" name="Quantity"  ng-model="orderDetails.comment"/>
				 </md-input-container>




				</div>

         <!-- MF -->
				<br>
				<md-button class="md-raised md-primary" ng-show="orderDetails.orderType === 'existing'" ng-disabled="orderForm.$invalid" ng-click="goToPath('orderSummary')" >Next</md-button>
				<!-- <a type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded" ng-show="orderDetails.orderType === 'existing'" href="#/dashboard/orderSummary">Next</a> -->
       <md-button ng-show="orderDetails.orderType === 'custom'" ng-click="goToPath('requestSummary')" ng-disabled="orderForm.$invalid" class="md-raised md-primary">Request A qoute</md-button>
				<!-- <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-show="orderDetails.orderType === 'custom'" href="#/dashboard/requestSummary">Request A qoute</a> -->
				<br>


			</div>
		</form>

	</p>
</div>
</div>
</div>
