<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Request Quote <small>Ask For Your Custom Product</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<form role="form">


					 <div>
						 <div class="commonMenu" >
							 <md-button type="button" name="button" class="md-raised md-warn" ng-click="orderDetails.productType='paper'">Paper</md-button>

							 <md-button type="button" name="button" class="md-raised md-warn" ng-click="tab=1;orderDetails.productType='nonPaper'">Non Paper</md-button>

										</select>
										</div>

							<div class="paperType">
								Non-Paper Type<input type="text" ng-disabled="orderDetails.productType === 'paper'" ng-model="orderDetails.nonPaperType"
								Product Title:<input type="text" ng-model="orderDetails.productTitle" name="name" value="" class=" form-control"><br>
								Quantity:<input type="number" ng-model="orderDetails.quantity" name="name" value="" class=" form-control"><br>
								<div class="form-group">
			            <label for="sel1">Paper Type:</label>
										<select class="form-control" ng-disabled="orderDetails.productType === 'nonPaper'" id="product" ng-model="orderDetails.paperType" ng-options="s for s in paper">
											<option value="" ng-if="false"></option>

										</select>
										</div>

										<div class="form-group">
					            <label for="sel1">Dimensions:</label>
												<select class="form-control" ng-disabled="orderDetails.productType === 'nonPaper'" id="dimensions" ng-model="orderDetails.dimensions" ng-options="s for s in dimensions">
													<option value="" ng-if="false"></option>

												</select>
												<input type="number" name="name" placeholder="height" ng-disabled="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.heightdim">
												<input type="number" name="name" placeholder="width" ng-disabled="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.widthdim">

												</div>
												<br>
												<div class="form-group">
							            <label for="sel1">Finish:</label>
														<select class="form-control" id="finish" ng-disabled="orderDetails.productType === 'nonPaper'" ng-model="orderDetails.finish" ng-options="s for s in finishArr">
															<option value="" ng-if="false"></option>
														</select>
														</div>
														<br>

													<div class="form-group">
															<label for="sel1">Cutting:</label>
																<select class="form-control" ng-disabled="orderDetails.productType === 'nonPaper'"
																id="finish" ng-model="orderDetails.cutting" ng-options="s for s in getcutting">
      													<option value="" ng-if="false"></option>
																</select>
																</div>
												<br>

									Comments:<input type="text" name="name" ng-model="orderDetails.comment" value="" class=" form-control"><br>

							</div>


				 </div>


				 <a class="btn btn-primary btn-lg btn-outline btn-rounded" href="#/dashboard/requestSummary">Request A qoute</a>

    </div>
			</form>


			</p>
		</div>
	</div>
</div>
