<md-toolbar class="md-table-toolbar md-default ">
  <div class="md-toolbar-tools md-title">
    <span>Review Your Orders Here</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-card style="margin:0px">
            <md-subheader>Filter by search</md-subheader>
            <md-divider></md-divider>
            <!-- <md-input-container style="margin:15px;">
                <label>Search</label>
                <input type="text" ng-model="filterName">
            </md-input-container> -->
					<!-- <md-subheader>	<div class="" layout="row" layout-align="start center" layout-padding>
							<p >Sort by</p>
							<md-input-container  class="overload" style="margin:15px;">
	                <label>Search</label>
	                <input type="text" ng-model="filterName">
	            </md-input-container>
						</div>
						</md-subheader> -->
						<form class="form-inline overloadForm" layout-padding >

								<div flex class="form-group">
							    <label for="exampleInputName2">Sort By:</label>
							    <input type="text" ng-model="filterName" class="form-control"  placeholder=" Search all">
							  </div>
								<md-datepicker flex ng-model="myDate" md-placeholder="Order date" ></md-datepicker>
								<md-datepicker flex ng-model="myDate" md-placeholder="Due date" ></md-datepicker>
							  <div  style="margin-left:15px;" class="form-group">
									<div flex class="dropdown">
										 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Product Type
										 <span class="caret"></span></button>
										 <ul class="dropdown-menu">
											 <li><a ng-click="filterName='Paper'" >Paper</a></li>
											 <li><a ng-click="filterName='Non Paper'">Non Paper</a></li>
										 </ul>
									 </div>

							  </div>

								<div flex class="form-group">
									<div class="dropdown">
										 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status
										 <span class="caret"></span></button>
										 <ul class="dropdown-menu">
											 <li><a ng-click="filterName='Processing'">Processing</a></li>
											 <li><a ng-click="filterName='Out for Delivery'">Out for Delivery</a></li>
											 <li><a ng-click="filterName='Delivered'">Delivered</a></li>
											 <li><a ng-click="filterName='Cancelled'">Cancelled</a></li>

										 </ul>
									 </div>

							  </div>

							</form>
						<md-divider></md-divider>

            <div ng-hide="true">
                {{(filteredItems = (details | filter: filterName))}}
            </div>
        </md-card>

  <mdt-table sortable-columns="true" animate-sort-icon="true" mdt-row="{'data': filteredItems,
                      'table-row-id-key': 'orderId',
                      'column-keys': ['orderId', 'productTitle', 'paymentType', 'city', 'date', 'amount', 'status','role']}">

<!-- exact table from live demo -->
    <mdt-header-row>
        <mdt-column >Quote ID</mdt-column>
        <mdt-column >Date</mdt-column>
        <mdt-column >Client Details</mdt-column>
        <mdt-column >Product Type</mdt-column>
        <mdt-column >Quantity</mdt-column>
        <mdt-column >Amount  </mdt-column>
        <mdt-column >Status  </mdt-column>
        <mdt-column style="text-align:center" >Actions</th>
      </mdt-column>
    </mdt-header-row>


    <mdt-custom-cell html-content="true" column-key="role">
            <!-- <span ng-class="{'red': value > 5, 'green': value <= 5}">{{value}}</span> -->
            <section layout="row">
             <button  class=" btn btn-success">Order Now </button>
             <button  class="btn btn-primary" >View Quotes</button>
            </section>
        </mdt-custom-cell>

  </mdt-table>

<!-- <md-table-container class="md-whiteframe-1dp">
  <table md-table md-row-select md-table md-row-select multiple ng-model="selected" md-progress="promise" >
    <thead md-head>
      <tr md-row>
        <th md-column >Order ID</th>
        <th md-column >Product Type</th>
        <th md-column >Client Details </th>
        <th md-column >Quantity</th>
        <th md-column >Date</th>
        <th md-column >Amount</th>
        <th md-column >Status</th>
        <th md-column >Actions</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="x in details" style="text-transform: capitalize;">

				<td md-cell>{{x.orderId}}</td>
				<td md-cell>{{x.productTitle}}</td>
				<td md-cell>{{x.paymentType}}</td>
				<td md-cell>{{x.city}},{{x.state}},<br>{{x.landmark}},<br>{{x.zipcode}}</td>
				<td md-cell>{{x.date}}</td>
				<td md-cell> ₹{{x.amount}}</td>
				<td md-cell>{{x.status}}</td>
        <td md-cell><md-button class="md-raised md-primary" ng-click="getTest(x);showTabDialog($event);">Add to Price list</md-button></td>

      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination> -->
